body {
  text-align: center;
  background-color: #283149;

}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}
.set {
  margin: 10% auto;
  display: flex;
  justify-content: space-between;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
  background-image: url("images/tom1.png");
  opacity: 0;
  position: relative;
  top: 20px; 

}
.w:hover{
  flex-grow: 1.5;
}
.a {
  background-image: url("images/tom2.png");
  opacity: 0;
  position: relative;
  top: 20px;
}
.a:hover{
  flex-grow: 1.5;
}

.s {  
  background-image: url("images/tom3.png");
  opacity: 0;
  position: relative;
  top: 20px;
}
.s:hover{
  flex-grow: 1.5;
}

.d {
  background-image: url("images/tom4.png");
  opacity: 0;
  position: relative;
  top: 20px;
}
.d:hover{
  flex-grow: 1.5;
}
.j {  
  background-image: url("images/snare.png");
  opacity: 0;
  position: relative;
  top: 20px;
}
.j:hover{
  flex-grow: 1.5;
}
.k {
  background-image: url("images/crash.png");
  opacity: 0;
  position: relative;
  top: 20px;
}
.k:hover{
  flex-grow: 1.5;
}
.l {
  background-image: url("images/kick.png");
  opacity: 0;
  position: relative;
  top: 20px;
}
.l:hover{
  flex-grow: 1.5;
}


.game-over {
  background-color: red;
  opacity: 0.8;
}

/* .pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
} */

.red {
  color: red;
}
button:active{
  transition-duration: 0s;
  box-shadow: 0 4px 5px 0 #DBEDF3;
  opacity: 0.5;

}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;

  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
h1{
  opacity: 0;
  position: relative;
  top: 40px;


}
.title{
  top:-10px;
  opacity: 1;
  transition-duration: 1s;
}
@media (max-width:480px){
  .set{

  flex-direction:row;
  flex-wrap: wrap;

  }
  h1{
    font-size: 5rem;
  }
  .set{
    align-items: left;
  }
  .l{
    align-self: center;
  }
  .l:hover{
    flex-grow: 0;
  }
  .a:hover{
    flex-grow: 0;
  }
  .w:hover{
    flex-grow: 0;
  }
  .d:hover{
    flex-grow: 0;
  }
  .s:hover{
    flex-grow: 0;
  }
  .k:hover{
    flex-grow: 0;
  }
  .j:hover{
    flex-grow: 0;
  }
}
